<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category.capitalize %></p>

<p><strong>Resturant Reviews</strong></p>
<% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li><br>
  <% end %>

<p> <%= link_to "Back to all resturants", restaurants_path %></p>
<p> <%= link_to "Add a Review", new_restaurant_review_path(@restaurant) %></p>
